@import "../../mixin";

// font of website
@font-face {
    font-family: "myfont";
    src: url(../../../../public/fonts/Satisfy/Satisfy-Regular.ttf);
}


body{
    padding: 0;
    margin: 0;
} 
h1 
    ,h2 
    , h3 
    ,h4
    ,h5
    ,h6{
        font-family: "myfont";
    }


.nav
{
        position: fixed;
        z-index: 999;

}
    
.nav-item{
    width: 100vw;
    @include mydisplay;
    gap: 2vw;
    @include  pi-pb;
}
.nav-item-left{
    @include mydisplay;
    gap: 2vw;
}

.nav-item-right 
    button{
        background-color: $btn;
        color: $white;
        border: none;
        border-radius:25px;
        
        }
.nav-item-right
        button:hover
        {
        background-color: $hoverr;
        }



.link a {
        text-decoration: none;
        color: $white;
        padding-inline: 0.5vw
    }

.link a:hover
{
        color: $hoverr;
}
i{
    color: $icon;
}

.nav-logo-link{
    width: 100vw;
    @include mydisplay;
    @include pi-pb;
}











