@import "../../mixin";
// font of website
@font-face {
    font-family: "myfont";
    src: url(../../../../public/fonts/Satisfy/Satisfy-Regular.ttf);
}

@font-face {
    font-family: "paragraph-font";
    src: url(../../../../public/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "poping-font";
    src: url(../../../../public/fonts/Poppins/Poppins-Medium.ttf);
}

.about{
    @include mydisplay;
    @include pi-pb;
}

.title-why-us{
    @include  mydisplay;
    flex-direction: column;
}
.title-why-us button{
    background-color:$background-about-btn ;
    border-radius: 25px;
    border: none;
    @include pi-pb;
}
.cards {
    @include mygrid ;
    @include pi-pb;
}

.card-item{
    @include pi-pb;
    padding-top: 9vh;
    padding-bottom: 9vh;
    background-color: $background-card-color ;
    box-shadow:5px 10px 18px $box-shadow-card ;
}